/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #bfbfbf;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

/* 选择所有 class 类名以 'i-' 开头的 <i> 元素 */
i[class^='i-'],
i[class*=' i-'] {
  width: 22px;
  height: 22px;
}
